<font color="#6368696d">
  <h1>Contact us</h1>
  <div style="padding-left:10%">
    <h2>Tuan Anh IGL</h2>
    <p></p>
    <h2>Binh Entry</h2>
    <p></p>
    <h2>Dat AWP</h2>
    <p></p>
    <h2>Hung AK</h2>
    <p></p>
    <h2>Quoc Buyer</h2>
    <p></p>
  </div>
</font>
