<div class="center jumbotron">
    <h1><font color = "#6368696d">Welcome to Chim Review</font></h1>
</div>
<div style="padding-left:10%; padding-right:10%; border:1px solid #6368696d;">
  <p>Here will have something like news about top-rated Chim and so on here</p>
</div>
