<%= form_for [@bird, Reply.new], class: "reply-form" do |f| %>
  <div style="padding-top: 25px">
    <%= f.hidden_field :review_id, value: review_id %>
    <div class="review-form-text">
      <%= f.text_area :content, class: "form-control" %>
    </div>
    <div class="review-form-submit">
      <%= f.submit "Reply", class: "btn btn-primary" %>
    </div>
  </div>

<% end %>
