<div class="record" id="record-#{review.id}">
  <li>
    <%= avatar_for(reply.user) %>
    <strong><%= reply.user.user_name %></strong> は&ensp;
    <span><%= reply.updated_at.localtime.strftime("%d-%m-%Y, %H:%M") %> に返信しました</span><br>
    <span><%= reply.content %></span><br>
  </li>
</div>
