<div id="colorlib-page">
	<div id="colorlib-main">
    <% if current_user.user_role != 1 %>
      <div class="colorlib-blog">
        <h1>編集する権限を持っていません</h1>
      </div>
    <% end %>
    <% if current_user.user_role == 1 %>
      <div class="colorlib-blog" style="padding-top: 50px">
      <div id="colorlib-counter-admin" class="colorlib-counters" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="colorlib-narrow-content">
          <div class="row">
          </div>
          <div class="row">
            <div class="col-md-3 text-center animate-box">
              <span class="icon"><i class="icon-social-twitter"></i></span>
              <span class="colorlib-counter js-counter" data-from="0" data-to=<%=@total_bird%> data-speed="5000" data-refresh-interval="50"></span>
              <span class="colorlib-counter-label">鳥</span>
            </div>
            <div class="col-md-3 text-center animate-box">
              <span class="icon"><i class="icon-social-twitter-circular"></i></span>
              <span class="colorlib-counter js-counter" data-from="0" data-to=<%=@total_species%> data-speed="5000" data-refresh-interval="50"></span>
              <span class="colorlib-counter-label">種類</span>
            </div>
            <div class="col-md-3 text-center animate-box">
              <span class="icon"><i class="icon-user"></i></span>
              <span class="colorlib-counter js-counter" data-from="0" data-to=<%=@total_user%> data-speed="5000" data-refresh-interval="50"></span>
              <span class="colorlib-counter-label">ユーザ</span>
            </div>
            <div class="col-md-3 text-center animate-box">
              <span class="icon"><i class="icon-message-typing"></i></span>
              <span class="colorlib-counter js-counter" data-from="0" data-to=<%=@total_review%> data-speed="5000" data-refresh-interval="50"></span>
              <span class="colorlib-counter-label">レビュー</span>
            </div>
          </div>
        </div>
      </div>
        <div class="colorlib-narrow-content" style="padding-top: 50px">
          <div class="row">
          <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
            <h2 class="colorlib-heading">歴史</h2>
            <p>写真で登録す写真で登録す写真で登録す写真で登録す写真で登録す写真で登録す写真で登録す写真で登録す写真で登録す写真で登録す写真で登録す写真で登録す写真で登録す写真で登録す</p>
          </div>
          <div class="col-md-8 animate-box" data-animate-effect="fadeInRight">
            <div class="fancy-collapse-panel">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">写真で登録す
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-md-6">
                          <p>写真で登録す写真で登録す写真で登録写真で登録す写真で登録す写真で登録写真で登録す写真で登録す写真で登録 </p>
                        </div>
                        <div class="col-md-6">
                          <p>写真で登録す写真で登録す写真で登録写真で登録す写真で登録す写真で登録写真で登録す写真で登録す写真で登録</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">写真で登録す
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <p>鳥情報は名前、種類、説明、写真で登録する。写真の数量限定は一枚だけである<strong>写真で登録す</strong>, 鳥情報は名前、種類、説明、写真で登録する。写真の数量限定は一枚だけである鳥情報は名前、種類、説明、写真で登録する。写真の数量限定は一枚だけである</p>
                      <ul>
                        <li>鳥情報は名前、種類、説明、写真で登録する。写真の数量限定は一枚だけである</li>
                        <li>鳥情報は名前、種類、説明、写真で登録する。写真の数量限定は一枚だけである</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">My Specialties
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <p>鳥情報は名前、種類、説明、写真で登録する。写真の数量限定は一枚だけである <strong>写真で登録す</strong>, 鳥情報は名前、種類、説明、写真で登録する。写真の数量限定は一枚だけである鳥情報は名前、種類、説明、写真で登録する。写真の数量限定は一枚だけである</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    <% end %>
	</div>
</div>