.avatar_image {
    vertical-align: middle;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.avatar_edit {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
