	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/01/2018 04:05
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("/assets/flaticon/font/Flaticon.eot");
  src: url("/assets/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/assets/flaticon/font/Flaticon.woff") format("woff"),
       url("/assets/flaticon/font/Flaticon.ttf") format("truetype"),
       url("/assets/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/assets/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-worker:before { content: "\f100"; }
.flaticon-architect-with-helmet:before { content: "\f101"; }
.flaticon-sketch:before { content: "\f102"; }
.flaticon-conveyor:before { content: "\f103"; }
.flaticon-skyline:before { content: "\f104"; }
.flaticon-crane:before { content: "\f105"; }
.flaticon-engineering:before { content: "\f106"; }
.flaticon-engineer:before { content: "\f107"; }