* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   @import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
   @import url('https://fonts.googleapis.com/css?family=Roboto:100');
   
   @mixin button($bcolor,
   $url,
   $x1,
   $y1,
   $bor,
   $col) {
    background: $bcolor;
    -webkit-mask: url($url);
    mask: url($url);
    -webkit-mask-size: $x1 $y1;
    mask-size: $x1 $y1;
    border: $bor;
    color: $col;
   }

   .button-container-1 {
    position: relative;
    width: 99px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #FFC300;
    font-family: 'Lato', sans-serif;
    font-weight: 450;
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 1px;
   
    button {
     width: 101%;
     height: 100%;
     font-family: 'Lato', sans-serif;
     font-weight: 450;
     font-size: 20px;
     letter-spacing: 1px;
     @include button(#FFC300,
     "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
     2300%,
     100%,
     none,
     #000);
     cursor: pointer;
     -webkit-animation: ani2 0.7s steps(22) forwards;
     animation: ani2 0.7s steps(22) forwards;
   
     &:hover {
      -webkit-animation: ani 0.7s steps(22) forwards;
      animation: ani 0.7s steps(22) forwards;
     }
    }
   }
   
   .button-container-2 {
    position: relative;
    width: 99px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #FFC300;
    font-family: 'Lato', sans-serif;
    font-weight: 450;
    transition: 0.5s;
    letter-spacing: 1px;
   
    button {
     width: 100%;
     height: 100%;
     font-family: 'Lato', sans-serif;
     font-weight: 450;
     font-size: 20px;
     letter-spacing: 1px;
   
     @include button(#FFC300,
     "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
     3000%,
     100%,
     none,
     #000);
     cursor: pointer;
     -webkit-animation: ani2 0.7s steps(29) forwards;
     animation: ani2 0.7s steps(29) forwards;
   
     &:hover {
      -webkit-animation: ani 0.7s steps(29) forwards;
      animation: ani 0.7s steps(29) forwards;
     }
    }
   }
   
   .button-container-3 {
    position: relative;
    width: 100px;
    height: 50px;
    overflow: hidden;
    border: 2px solid #FFC300;
    font-family: 'Lato', sans-serif;
    font-weight: 450;
    transition: 0.5s;
    letter-spacing: 1px;
   
    button {
     width: 100%;
     height: 100%;
     font-family: 'Lato', sans-serif;
     font-weight: 450;
     font-size: 20px;
     letter-spacing: 1px;
   
     @include button(#FFC300,
     "https://github.com/robin-dela/css-mask-animation/blob/master/img/nature-sprite-2.png?raw=true",
     7100%,
     100%,
     none,
     #fff);
     cursor: pointer;
     -webkit-animation: ani2 0.7s steps(70) forwards;
     animation: ani2 0.7s steps(70) forwards;
   
     &:hover {
      -webkit-animation: ani 0.7s steps(70) forwards;
      animation: ani 0.7s steps(70) forwards;
     }
    }
   }
   
   .mas {
    position: absolute;
    color: #FFC300;
    text-align: center;
    width: 101%;
    font-family: 'Lato', sans-serif;
    font-weight: 450;
    position: absolute;
    font-size: 20px;
    margin-top: 7px;
    overflow: hidden;
   }
   
   @-webkit-keyframes ani {
    from {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   
    to {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   }
   
   @keyframes ani {
    from {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   
    to {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   }
   
   @-webkit-keyframes ani2 {
    from {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   
    to {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   }
   
   @keyframes ani2 {
    from {
     -webkit-mask-position: 100% 0;
     mask-position: 100% 0;
    }
   
    to {
     -webkit-mask-position: 0 0;
     mask-position: 0 0;
    }
   }
   