// Header
$header-height: 93px;
$after-header-padding: 47px;

// Colors
$color-black: #1c1c1c;
$color-black-light: #232323;
$color-gray: #888B8D;
$color-gray-light: #ddd;
$color-white: #fff;

$color-artifact: #BEA369;
$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;




// Fonts
$font-base: 'Montserrat', sans-serif;
$font-sans-serif: 'Open Sans', sans-serif;
$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;







